/*
-----------------------------------------------------------------------------------------
8. *MAIN RULES* - LARGE - GLOBAL LAYOUT & GENERAL STYLES
-----------------------------------------------------------------------------------------
*/

/*--- Layout
-----------------------------------------------------------------------*/
#container {padding: 1.618em; margin: 0 auto; max-width: 70em;}
	
/*--- Header / Banner
-----------------------------------------------------------------------*/	
header.banner h1 {font-size:10em; margin-bottom:0.1em;}

/*--- Navigation
-----------------------------------------------------------------------*/

/*--- Homepage
-----------------------------------------------------------------------*/

/*--- Footer
-----------------------------------------------------------------------*/


/*
-----------------------------------------------------------------------------------------
9. *MAIN RULES* - MEDIUM - GLOBAL LAYOUT & GENERAL STYLES
-----------------------------------------------------------------------------------------
*/

@media screen and (min-width: 30em) and (max-width: 73.236em) {

/*--- Layout
---------------------------------------*/
#container { max-width: 30em; }

/*--- Header / Banner
---------------------------------------*/
header.banner h1 {font-size:10em;}

/*--- Navigation
------------------------------------------*/

/*--- Homepage
------------------------------------------*/

/*--- Footer
------------------------------------------*/

	
}